@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", "Verdana", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #2d3440;
}

.pink-wrapper {
  background-color: #feafc3;
}

.yellow-wrapper {
  background-color: #fcc850;
}

.blue-wrapper {
  background-color: #69a9ff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Навигация */

.section-slider {
  margin-bottom: 81px;
}

.page-container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 98px;
}

.page-header {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  align-items: center;
}

.logo {
  display: block;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.site-navigation {
  margin-right: auto;
  margin-left: 16px;
}

.site-navigation-list {
  margin: 0;
  padding: 0;
  max-width: 500px;
  margin-right: auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.site-navigation-link {
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 8px 16px;
  border-radius: 18px;
  position: relative;
}

.site-navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.site-navigation-link:hover + .popover {
  display: block;
}

.site-navigation-link:active {
  background-color: #fcfcfc;
  border: none;
}

.site-navigation-link:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: inset 0 0 0 2px #2d3440;
  outline: none;
}

@supports not selector(:focus-visible) {
  .site-navigation-link:focus {
    background-color: rgba(252, 252, 252, 0.5);
    box-shadow: inset 0 0 0 2px #2d3440;
    outline: none;
  }
}

.catalog-link {
  padding-right: 38px;
}

.catalog-icon {
  position: absolute;
  top: 0;
  right: 16px;
  bottom: 0;
  margin: auto;
}

.header-phone {
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}

.user-navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.user-navigation-item {
  position: relative;
}

.user-navigation-link {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  background-color: rgba(252, 252, 252, 0.3);
  color: inherit;
  margin-left: 17px;
  padding: 6px 17px;
  border-radius: 16px;
  min-height: 32px;
  display: block;
  box-sizing: border-box;
}

.user-navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.user-navigation-link:active {
  background-color: #fcfcfc;
}

.user-navigation-link:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: inset 0 0 0 2px #2d3440;
  outline: none;
}

@supports not selector(:focus-visible) {
  .user-navigation-link:focus {
    background-color: rgba(252, 252, 252, 0.5);
    box-shadow: inset 0 0 0 2px #2d3440;
    outline: none;
  }
}

.search {
  padding: 8px;
}

.search .navigation-icon {
  top: 1px;
  left: 1px;
  display: block;
}

.navigation-icon {
  position: relative;
  top: 2px;
  right: 2px;
  bottom: 0;
  margin: auto;
}

.link-activ {
  background-color: #ff4a78;
  color: #fcfcfc;
}

.site-navigation-item {
  position: relative;
}

.link-activ:hover {
  background-color: #ff4a78;
  opacity: 0.6;
}

.link-activ:active {
  background-color: #ff4a78;
  opacity: 0.3;
}

.link-activ:focus-visible {
  background-color: #ff4a78;
  color: #fcfcfc;
}

@supports not selector(:focus-visible) {
  .link-activ:focus {
    background-color: #ff4a78;
    color: #fcfcfc;
  }
}

.link-activ .catalog-icon {
  transform: rotate(180deg);
  top: 4px;
}

.popover {
  display: none;
  position: absolute;
  right: -21px;
  z-index: 2;
  box-sizing: border-box;
  min-width: 135px;
  min-height: 84px;
  margin-top: 8px;
  padding: 8px 0;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
}

.popover:hover {
  display: block;
}

.user-navigation-link:hover ~ .popover {
  display: block;
 }

.popover::before {
  content: "";
  display: block;
  width: 100%;
  height: 8px;
  position: absolute;
  top: -8px;
  right: 0;
}

.popover-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  padding: 8px 17px;
  position: relative;
}

.popover-title::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #b9b9b9;
  position: relative;
  bottom: -11px;
  left: 0;
  z-index: 2;
}

.popover-list {
  font-size: 14px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.popover-link {
  line-height: 20px;
  display: block;
  padding: 6px 14px 6px 16px;
  text-decoration: none;
  color: #2d3440;
}

.popover-link:hover {
  text-decoration: underline;
}

.popover-link:active {
  opacity: 0.6;
}

.link-activ ~ .popover,
.link-activ ~ .popover-bascket-empty {
  display: block;
}

.popover-search {
  padding: 24px 16px;
  width: 356px;
  right: 0;
}

.search-form {
  display: grid;
}

.search-button {
  position: absolute;
  top: -40px;
  right: 0;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 16px;
  padding: 0;
  opacity: 0;
  background-color: #fcfcfc;
  cursor: pointer;
}

.search-button:hover {
  opacity: 0.3;
}

.search-button:active {
  opacity: 0.4;
}

.popover-login {
  padding: 48px 48px 52px;
  width: 420px;
  position: absolute;
  right: 0;
}

.login-title {
  line-height: 30px;
  margin: 0;
  margin-bottom: 32px;
}

.login-form {
  display: grid;
  grid-template-columns: 136px 188px;
  grid-template-rows: 1fr 1fr 60px;
  row-gap: 16px;
}

.login-form .form-input {
  grid-column: 1/3;
}

.login-form .button {
  align-self: end;
}

.login-list {
  padding: 0;
  list-style: none;
  align-self: end;
}

.login-list li:not(:last-child) {
  padding-bottom: 2px;
}

.login-link {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
  border-bottom: 1px solid #2d3440;
}

.login-link:hover {
  border-bottom: 2px solid #2d3440;
}

.login-link:active {
  opacity: 0.6;
}

.popover-bascket-empty {
  position: absolute;
  width: 288px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  background-color: #fcfcfc;
  border-radius: 4px;
  text-align: center;
  right: 0;
  margin-top: 8px;
  padding: 48px 0;
  display: none;
}

.popover-bascket {
  width: 441px;
  padding: 48px;
  right: 0;
}

.popover-bascket-title {
  line-height: 30px;
  margin: 0;
}

.popover-bascket-list {
  margin: 32px 0;
  list-style: none;
  padding: 0;
}

.popover-bascket-item {
  display: grid;
  grid-template-rows: 23px 23px;
  grid-template-columns: 46px 148px 87px 16px;
  column-gap: 16px;
}

.popover-bascket-item + .popover-bascket-item {
  margin-top: 24px;
}

.popover-productt-image {
  grid-row: 1 / -1;;
}

.popover-item-title {
  font-size: 18px;
  margin: 0;
  grid-row: 1/2;
  grid-column: 2/3;
}

.popover-item-paragraph {
  font-size: 14px;
  line-height: 20px;
  color: #b9b9b9;
  margin: 0;
  padding-top: 2px;
  grid-row: 2/3;
  grid-column: 2/3;
}

.popover-price {
  font-size: 18px;
  grid-row: 1/-1;
  align-self: center;
}

.delete-product {
  background-image: url("../image/exet.svg");
  width: 16px;
  height: 16px;
  background-color: #fcfcfc;
  border: none;
  grid-row: 1/3;
  align-self: center;
  cursor: pointer;
}

.popover-footer {
  display: flex;
  padding-top: 32px;
  position: relative;
}

.popover-footer::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  top: -1px;
  background-color: #e7e7e7;
  position: absolute;
  z-index: 2;
}

.popover-footer b{
  font-size: 18px;
  padding-top: 1px;
  margin-left: auto;
  align-self: center;
}

/* Основной контент */

.main-wrapper {
  flex-grow: 1;
}

/* Карусель */

.slider-item-wrapper {
  margin-top: 136px;
}

.slide-title {
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
  margin-top: 0;
  margin-bottom: 24px;
}

.slide-paragraph {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 48px;
}

.slider-list {
  margin: 0;
  padding: 0;
  padding-left: 70px;
  list-style: none;
}

.slider-item {
  display: flex;
  align-items: start;
  position: relative;
}

.slide-title {
  width: 474px;
}

.slide-paragraph {
  width: 429px;
}

.slider-image {
  display: block;
  z-index: 1;
}

.last-image {
  transform: translate(-19px, 5px);
}

.slider-image-first-wrapper {
  position: relative;
  margin-top: 21px;
  margin-left: 17px;
  display: flex;
}

.slider-image-first-wrapper::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.3);
  width: 312px;
  height: 312px;
  top: 100px;
  left: 1px;
  position: absolute;
  border-radius: 50%;
}

.slider-button-wrapper {
  display: flex;
  justify-content: space-between;
  width: 350px;
  position: absolute;
  bottom: 232px;
  left: -18px;
  z-index: 2;
}

.slider-button {
  background-color: rgba(252, 252, 252, 0.3);
  padding: 9px;
  border: 2px solid #fcfcfc;
  border-radius: 19px;
  height: 38px;
  color: #fcfcfc;
  cursor: pointer;
}

.slider-button:hover {
  color: #2d3440;
  background-color: #fcfcfc;
}

.slider-button:active {
  color: #2d3440;
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid rgba(252, 252, 252, 0);
}

.slider-button:focus-visible {
  color: #2d3440;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #2d3440;
  outline: none;
}

@supports not selector(:focus-visible) {
  .slider-button:focus {
    color: #2d3440;
    background-color: rgba(252, 252, 252, 0.3);
    border: 2px solid #2d3440;
    outline: none;
  }
}

.transparent-slides-wrapper {
  margin-left: auto;
}

.transparent-slides {
  list-style: none;
  display: flex;
  margin-top: 205px;
  padding: 0;
  gap: 41px;
  opacity: 0.4;
  position: relative;
}

.transparent-slide {
  position: relative;
}

.transparent-slide::before {
  content: "";
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.3);
  bottom: 26px;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}

.transparent-image {
  display: block;
}

.transparent-slide:first-child::before {
left: -5px;
}

.transparent-slide:last-child::before {
left: 2px;
}

.section-slider .disabled {
  color: #fcfcfc;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
  opacity: 0.4;
}

.button {
  font-weight: 700;
  line-height: 20px;
  display: inline-block;
  color: #2d3440;
  text-decoration: none;
  background-color: #fcfcfc;
  padding: 12px 32px;
  outline: 4px solid rgba(252, 252, 252, 0.40);
  border-radius: 26px;
  margin-right: auto;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.10);
}

.button:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 4px solid #fcfcfc;
  box-shadow: 0 4px 15px 0 rgba(133, 133, 133, 0.15);
}

.button:active {
  outline: 2px solid #2d3440;
  background-color: #fcfcfc;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.10);
}

.button:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2d3440;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.10);
}

.download {
  background-image: url("../image/spinner.svg");
  background-repeat: no-repeat;
  background-position: right 32px center;
  padding-right: 56px;
}

.pagination-and-social {
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
}

.slider-pagination {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 0;
  margin: 0;
  max-width: 585px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  padding: 0;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 6px;
  border: none;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
}

.current {
  background-color: #fcfcfc;
}

.slider-pagination-button:hover {
  border: 1px solid #fcfcfc;
}

.slider-pagination-button:active {
  background-color: rgba(252, 252, 252, 0.5);
}

.slider-pagination-button:focus-visible {
  border: 1px solid #2d3440;
  outline: none;
}

@supports not selector(:focus-visible) {
  .slider-pagination-button:focus {
    border: 1px solid #2d3440;
    outline: none;
  }
}

.slider-pagination-item:not(:last-child) {
  margin-right: 8px;
}

.slider-pagination-item {
  margin-top: 8px;
}

.social-list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  gap: 16px;
}

.social-item {
  width: 24px;
  height: 24px;
}

.social-button {
  min-width: 24px;
  min-height: 24px;
  display: grid;
  border-radius: 12px;
  outline: 2px solid rgba(252, 252, 252, 0.5);
}

.social-svg:hover {
  background-color: #2d3440;
  border-radius: 12px;
  box-shadow: inset 0 0 0 1px #fcfcfc;
}

.social-svg:active {
  background-color: #2d3440;
  border-radius: 12px;
  opacity: 0.5;
  outline: 2px solid rgba(252, 252, 252, 0.1);
}

.social-svg:active .social-button {
  opacity: 0.5;
}

/* Спецпредложения */

.special {
  margin-bottom: 81px;
}

.special-title {
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  text-align: center;
  width: 434px;
  margin: 0 auto;
  margin-bottom: 55px;
}

.special-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  align-items: start;
}

.special-item {
  background-color: #ff7799;
  box-sizing: border-box;
  width: 570px;
  padding: 36px;
  padding-right: 200px;
  border-radius: 16px;
}

.raspberries {
  background-image: url("../image/raspberries.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.marshmello {
  background-image: url("../image/marshmello.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.special-content-wrapper {
  width: 304px;
}

.special-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
}

.special-item-paragraph {
  margin: 0;
  margin-bottom: 28px;
}

/* Популярное */

.popular-cards {
  margin-bottom: 80px;
  z-index: 2;
}

.popular-cards-title {
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  text-align: center;
  width: 527px;
  margin: 0 auto;
  margin-bottom: 56px;
}

.card-list {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(4, auto);
  row-gap: 40px;
  column-gap: 30px;
  padding: 0;
  margin: 0;
}

.card-item {
  text-align: center;
  list-style: none;
  border-radius: 8px;
  position: relative;
}

.card-item::before {
  content: "";
  background-color: #fcfcfc;
  width: 100%;
  height: calc(100% - 51px);
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
  border-radius: 8px;
}

.card-item-wrapper {
  width: 190px;
  margin: 0 auto;
}

.card-item-image {
  border-radius: 84px;
}

.card-item-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 16px;
  margin-bottom: 8px;
}

.card-link {
  width: 168px;
  display: grid;
  justify-content: center;
  border-radius: 84px;
  text-decoration: none;
  color: inherit;
  margin: 0 auto;
}

.card-item-paragraph {
  margin-top: 0;
}

.card-price {
  font-size: 20px;
  line-height: 24px;
}

.price-and-basket .card-add-basket {
  background-color: #ff2f64;
  border: 2px solid #ff2f64;
  color: #fcfcfc;
  min-width: 32px;
  min-height: 32px;
  border-radius: 16px;
  outline: none;
  box-sizing: border-box;
}

.card-add-basket:hover {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #ff2f64;
  color: #2d3440;
}

.card-add-basket:active {
  background-color: #ffcbd8;
  border: 2px solid #ff2f64;
  color: #2d3440;
}

.card-add-basket:focus-visible {
  background-color: #ff2f64;
  border: 2px solid #2d3440;
  color: #fcfcfc;
}

@supports not selector(:focus-visible) {
  .card-add-basket:focus {
    background-color: #ff2f64;
    border: 2px solid #2d3440;
    color: #fcfcfc;
  }
}

.price-and-basket .disabled {
  background-color: #b9b9b9;
  border: 2px solid #b9b9b9;
  color: #565c66;
}

.card-icon {
  position: relative;
  top: 6px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.price-and-basket {
  display: flex;
  align-items: center;
  min-height: 32px;
  justify-content: space-between;
  margin-bottom: 24px;
}

/* О компании */

.about-wrapper {
  background-image: url("../image/wafel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 24px;
  margin-bottom: 80px;
  border-radius: 16px;
}

.about {
  background-color: #ffffff;
  padding: 57px 40px 16px;
  border-radius: 16px;
}

.about-title {
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 55px;
}

.about-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

.about-item {
  color: #565c66;
  list-style: none;
  width: 505px;
  margin-bottom: 40px;
  padding-left: 64px;
  box-sizing: border-box;
}

.ice-cream {
  background-image: url("../image/ice-cream.svg");
  background-repeat: no-repeat;
  background-position: left top;
}

.sheet {
  background-image: url("../image/sheet.svg");
  background-repeat: no-repeat;
  background-position: left top;
}

.cow {
  background-image: url("../image/cow.svg");
  background-repeat: no-repeat;
  background-position: left top;
}

.thermometer {
  background-image: url("../image/thermometer.svg");
  background-repeat: no-repeat;
  background-position: left top;
}

/* Новости */

.news-block-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.news {
  background-color: #ffffff;
  background-image: url("../image/news-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: right;
  width: 570px;
  border-radius: 16px;
  align-self: flex-start;
}

.news-wrapper {
  margin-top: 32px;
  margin-left: 32px;
}

.news-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  margin-bottom: 14px;
}

.news-paragraph {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  width: 303px;
  margin: 0;
  margin-bottom: 68px;
}

/* Подписка */

.subscribe-wrapper {
  background-image: url("../image/subscribe.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6px;
  align-self: flex-start;
}

.subscribe {
  background-color: #ffffff;
  padding: 26px;
  padding-bottom: 28px;
  min-width: 332px;
  border-radius: 16px;
}

.subscribe-paragraph {
  width: 506px;
  margin: 0;
  margin-right: 0;
  margin-bottom: 44px;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 332px auto;
  grid-template-rows: 48px;
  gap: 19px;
}

.pink-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #fcfcfc;
  background-color: #ff2f64;
  align-self: center;
  border: none;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  cursor: pointer;
}

.pink-button:hover {
  outline: 4px solid #ff2f64;
  background-color: rgba(252, 252, 252, 0.3);
  color: #2d3440;
}

.pink-button:active {
  background-color: #feafc3;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.10);
  outline: 2px solid #2d3440;
  color: #fcfcfc;
}

.pink-button:focus-visible {
  outline: 2px solid #2d3440;
  background-color: #ff2f64;
}

@supports not selector(:focus-visible) {
  .pink-button:focus {
    outline: 2px solid #2d3440;
    background-color: #ff2f64;
  }
}

.pink-disabled {
  background-color: #b9b9b9;
  font-weight: 400;
  color: #565c66;
  outline: 4px solid rgba(185, 185, 185, 0.30);
  cursor: not-allowed;
}

.pink-download {
  background-image: url("../image/spinner-white.svg");
  background-repeat: no-repeat;
  background-position: right 32px center;
  padding-right: 56px;
}

/* Досктавка */

.delivery {
  background-color: #fcfcfc;
  background-image: url("../image/delivery-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  border-radius: 16px;
}

.delivery-wrapper {
  width: 371px;
  margin-top: 167px;
  margin-left: 100px;
  margin-bottom: 163px;
}

.delivery-title {
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  margin: 0;
}

.delivery-paragraph {
  margin: 0;
  margin-top: 24px;
}

.delivery-form-wrapper {
  background-color: #fcfcfc;
  width: 500px;
  margin-top: 64px;
  margin-right: 64px;
  margin-bottom: 64px;
  border-radius: 8px;
  box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
}

.delivery-form {
  display: grid;
  grid-template-columns: 117px 287px;
  grid-template-rows: auto 76px 76px auto;
  gap: 20px 16px;
  padding: 40px;
}

.field {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.delivery-form-paragraph {
  grid-column: 1/-1;
  margin: 0;
  padding-bottom: 12px;
}

.delivery-form-data {
  grid-column: 1/2;
}

.delivery-form-phone {
  grid-column: 2/3;
}

.delivery-form-addres {
  grid-column: 1/-1;
}

.delivery-form-button {
  grid-column: 2/-1;
  margin-top: 12px;
  margin-left: 2px;
}

.form-label {
  font-weight: 700;
  line-height: 20px;
  padding-bottom: 8px;
}

.form-lable-icon {
  position: relative;
  padding-right: 16px;
}

.tooltip {
  position: absolute;
  margin-top: 3px;
  margin-left: 4px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  display: block;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  display: block;
}

.tooltip-toggle:hover .tooltip-icon {
  opacity: 0.5;
}

.tooltip-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #565c66;
  background-color: #ffffff;
  border: 1px solid #b9b9b9;
  border-radius: 2px;
  padding: 10px 8px;
  width: 169px;
  box-sizing: border-box;
  position: absolute;
  left: 23px;
  top: -9px;
  z-index: 1;
  filter: drop-shadow(0 4px 8px rgba(194, 194, 194, 0.20));
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.form-input::placeholder {
  color: #b9b9b9;
}

.form-input {
  font: inherit;
  height: 48px;
  padding: 0 15px;
  border: 1px solid #b9b9b9;
  background-color: #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-input:hover {
  border: 1px solid #2d3440;
}

.form-input:focus {
  border: 2px solid #2d3440;
  outline: none;
  padding-left: 14px;
  padding-right: 14px;
}

.form-input:disabled {
  border: 1px solid #b9b9b9;
  background-color: #e7e7e7;
  color: #2d3440;
}

.field input:disabled,
.subscribe-form input:disabled {
  border: 1px solid #b9b9b9;
  background-color: #e7e7e7;
  color: rgba(45, 2, 64, 0.65);
}

.error {
  border: 1px solid #ea5454;
}

.error:hover,
.error:focus {
  border: 2px solid #ea5454;
  outline: none;
  padding-left: 15px;
}

/* О компании */

.feedback {
  background-image: url("../image/feedback-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  display: flex;
  border-radius: 16px;
}

.contacts {
  background-color: #fcfcfc;
  width: 343px;
  margin-left: 64px;
  margin-top: 64px;
  margin-bottom: 64px;
  border-radius: 8px;
}

.contacts-wrapper {
  width: 263px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.contacts-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 12px;
}

.contacts-address {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  margin-bottom: 24px;
}

.contacts-phone-paragraph {
  margin: 0;
  margin-bottom: 12px;
}

.contacts-phone {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: #2d3440;
}

.contacts-paragraph {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 32px;
}

.contacts-button {
  text-decoration: none;
  margin-bottom: 42px;
  align-self: flex-start;
}

/* Подвал */

.footer-social .social-list {
  min-width: 130px;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 48px;
  padding-bottom: 48px;
  position: relative;
}

.footer-line::before {
  content: "";
  background-color: rgba(252, 252, 252, 0.3);
  height: 1px;
  width: 1170px;
  bottom: 172px;
  position: absolute;
}

.footer-links-list {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 24px;
  padding: 0;
  list-style: none;
  margin: 0;
}

.footer-link {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
}

.footer-link:hover {
  opacity: 0.6;
}

.footer-link:active {
  opacity: 0.3;
}

.footer-links-item {
  min-width: 120px;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.footer-links-item:not(:last-child) {
  margin-bottom: 6px;
  margin-top: -1px;
}

.activ-link {
  font-weight: 700;
  background-repeat: no-repeat;
  background-position: -5px 10px;
  position: relative;
}

.activ-link::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../image/heart.svg");
  width: 14px;
  height: 14px;
  top: 5px;
  left: -23px;
  z-index: 1;
}

.copyright {
  display: grid;
  grid-template-rows: 57px;
  align-items: flex-end;
  background-image: url("../image/logo-htmlacademy.svg");
  background-repeat: no-repeat;
}

.htmlacademy-link {
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  color: #2d3440;
  display: block;
}

.htmlacademy-link:hover span {
  opacity: 0.6;
}

.htmlacademy-link:active span {
  opacity: 0.3;
}

.copyright span {
  border-bottom: 1px solid rgba(45, 52, 64, 0.5);
}

/* Модальное окно */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 52, 64, 0.3);
  z-index: 1;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 64px 66px;
  background-color: #fcfcfc;
  border-radius: 8px;
  box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
}

.modal-feedback {
  width: 570px;
  box-sizing: border-box;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  margin-left: auto;
  top: 0;
  right: 0;
  width: 84px;
  height: 84px;
  background-color: #fcfcfc;
  border: none;
  border-top-right-radius: 8px;
  background-image: url("../image/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #ffcbd8;
}

.modal-close-button:active {
  opacity: 0.5;
}

.modal-close-button:focus {
  outline: 2px solid #2d3440;
}

.modal-title {
  margin: 0;
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.feedback-form {
  display: grid;
  grid-template-columns: 1fr 148px;
}

.form-textarea {
  font: inherit;
  width: 442px;
  height: 149px;
  border: 1px solid #b9b9b9;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 13px 15px;
  margin-bottom: 28px;
  box-sizing: border-box;
  resize: none;
}

.form-textarea::placeholder {
  color: #b9b9b9;
}

.field-group {
  grid-column: 1/-1;
}

.field-group .form-input {
  width: 442px;
  margin-bottom: 16px;
}

.feedback-button {
  grid-column: 2/3;
}

/* Каталог */

/* Хлебные Крошки */

.breadcrumbs {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #2d3440;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
  margin-bottom: 16px;
}

.breadcrumbs-item {
  margin-right: 28px;
  position: relative;
}

.breadcrumbs-item::after {
  content: url("../image/chevrons-right.svg");
  display: block;
  position: absolute;
  top: 2px;
  right: -20px;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-item:last-child .breadcrumbs-link {
  border-bottom: 1px solid #2d3440;
  box-sizing: border-box;
}

/* Фильтр */

.catalog-title {
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  margin-top: 0;
  margin-bottom: 40px;
}

.catalog-filter {
  width: 823px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  justify-content: space-between;
  margin-bottom: 46px;
}

.filters {
  font-size: 14px;
  line-height: 20px;
  position: relative;
}

.filters::before {
  content: "";
  position: absolute;
  background-color: rgba(252, 252, 252, 0.3);
  width: 100%;
  height: 36px;
  border-radius: 20px;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.filters:last-of-type::before {
  height: 40px;
  bottom: -1px;
}

.catalog-filter-title {
  padding-left: 16px;
  padding-bottom: 8px;
}

.catalog-filter-price .catalog-filter-title {
  padding-left: 0;
}

.catalog-filter-group {
  width: 196px;
  margin: 0;
  padding: 0;
  border: 0;
}

.select-control {
  width: 100%;
  height: 36px;
  padding: 8px 16px;
  bottom: 0;
  font: inherit;
  color: #2d3440;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../image/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 13px center;
  border: none;
  border-radius: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-control:focus {
  outline: 2px solid #fcfcfc;
}

.catalog-filter-price {
  width: 196px;
  margin: 0;
  padding: 17px 16px;
  border: 0;
  box-sizing: border-box;
}

.range-bar {
  position: absolute;
  height: 2px;
  border-radius: 1px;
  background-color: #565c66;
}

.range-scale {
  position: relative;
  height: 2px;
  background-color: rgba(86, 92, 101, 0.3);
  border-radius: 1px;
  cursor: pointer;
}

.range-toggle {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fcfcfc;
  margin: 0;
  padding: 0;
  border: 6px solid #2d3440;
  cursor: pointer;
}

.range-toggle:hover,
.range-toggle:focus {
  background-color: #2d3440;
  border: 6px solid #fcfcfc;
}

.range-toggle:active {
  background-color: #2d3440;
  border: 6px solid #2d3440;
}

.range-toggle:focus {
  outline: 2px solid #2d3440;
}

.toggle-min {
  top: -7px;
  left: -8px;
}

.toggle-max {
  top: -7px;
  right: -7px;
}

.range {
  position: relative;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: flex-start;
  gap: 2px;
  position: absolute;
  top: -46px;
  left: 39px;
}

.range-input {
  width: 27px;
  font: inherit;
  color: #2d3440;
  text-align: center;
  border: none;
  background-color: transparent;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.range-input[type="number"] {
  -moz-appearance: textfield;
}

.range-input:focus {
  outline: 1px solid #2d3440;
  border-radius: 2px
}

.catalog-filter-fat {
  width: 383px;
  margin: 0;
  padding: 0;
  border: 0;
}

.filter-fat-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  padding: 0 23px;
  margin: 8px 0;
}

.catalog-filter-fillers {
  width: 604px;
  margin: 0;
  padding: 0;
  border: 0;
}

.filter-fillers-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  padding-left: 24px;
  margin: 9px 0;
}

.filler {
  position: relative;
  padding-left: 24px;
  cursor: pointer;
}

.control-mark {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 16px;
  height: 16px;
  background-image: url("../image/checkbox-false.svg");
}

.control-mark:hover {
  background-image: url("../image/checkbox-false-hover.svg");
}

.filler-input:disabled + .control-mark {
  background-image: url("../image/checkbox-false-disabled.svg");
}

.filler-input[type="checkbox"]:checked + .control-mark {
  background-image: url("../image/checkbox-true.svg");
}

.filler-input[type="checkbox"]:checked + .control-mark:hover {
  background-image: url("../image/checkbox-true-hover.svg");
}

.filler-input[type="radio"] + .control-mark {
  background-image: url("../image/radio-false.svg");
}

.filler-input[type="radio"]:checked + .control-mark {
  background-image: url("../image/radio-true.svg");
}

.filler-input[type="radio"] + .control-mark:hover {
  background-image: url("../image/radio-false-hover.svg");
}

.filler-input[type="radio"]:checked + .control-mark:hover {
  background-image: url("../image/radio-true-hover.svg");
}

.filler-input[type="radio"]:disabled + .control-mark {
  background-image: url("../image/radio-false-disabled.svg");
}

.filler-input[type="radio"]:focus + .control-mark {
  outline: 2px solid #fcfcfc;
  border-radius: 50%;
}

.filler-input[type="checkbox"]:focus + .control-mark {
  outline: 2px solid #fcfcfc;
  border-radius: 2px;
}

.filter-button {
  font-size: 14px;
  font-weight: 700;
  background-color: rgba(252, 252, 252, 0.3);
  width: 185px;
  margin-right: 16px;
  margin-bottom: -2px;
  padding: 8px 32px;
  align-self: flex-end;
  border: none;
  outline: 2px solid #fcfcfc;
  transform: translateY(-2px);
  cursor: pointer;
}

.filter-button:hover {
  background-color: #fcfcfc;
  outline: 2px solid rgba(252, 252, 252, 0.3);
}

.filter-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  outline: none;
}

.filter-button:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid #2d3440;
}

@supports not selector(:focus-visible) {
  .filter-button:focus {
    background-color: rgba(252, 252, 252, 0.3);
    outline: 2px solid #2d3440;
  }
}

.catalog-product .disabled {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid #fcfcfc;
  opacity: 0.4;
}

/* Пагинация */

.pagination-block {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: ". button pagination";
  margin-top: 57px;
  margin-bottom: 81px;
}

.bagination-show-more {
  grid-area: button;
  margin-right: 15px;
}

.pagination {
  list-style: none;
  display: flex;
  margin: 0;
  grid-area: pagination;
  justify-self: end;
  align-self: center;
}

.pagination-item:first-child {
  transform: translateX(-4px);
}

.pagination-item:last-child {
  transform: translateX(4px);
}

.pagination-link {
  line-height: 20px;
  color: #2d3440;
  border-radius: 12px;
  text-decoration: none;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  min-height: 24px;
  padding: 0;
  padding-top: 1px;
  border: 1px solid rgba(252, 252, 252, 0);
}

.pagination-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.pagination-link:active {
  background-color: rgba(252, 252, 252, 0.5);
  border: 1px solid #fcfcfc;
}

.pagination-link:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  border: 1px solid #2d3440;
  outline: none;
}

@supports not selector(:focus-visible) {
  .pagination-link:focus {
    background-color: rgba(252, 252, 252, 0.3);
    border: 1px solid #2d3440;
    outline: none;
  }
}

.pagination-disabled {
  opacity: 0.3;
}

.pagination-current {
  background-color: #fcfcfc;
}
